<html>
<head>
    <title>{% block title %}Default Title{% endblock %}</title>
   
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    
    <!-- 可选的Bootstrap主题文件（一般不用引入） -->
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    {% load staticfiles %}
</head>

<body background="{% static "image/bg.jpg"%}" width="800px">
	 
{% include 'nav.html' %}

<h1>
{% block pagename %}
Directionary
{% endblock %}
</h1>
<hr/>

{% block content %}
<div>这里是默认内容，所有继承自这个模板的，如果不覆盖就显示这里的默认内容。</div>
{% endblock %}
	 
{% include 'bottom.html' %}
	 
{% include 'tongji.html' %}
	 
</body>
</html>