{% extends "base.html" %}

{% block title %}Welcome{% endblock %}  

{% block pagename %}

{% if title %}
    {{ title }} 
{% else %}
    用户列表
{% endif %}

{% endblock %}

{% block content %}

<table class="table">
     <tr>
        <td>
            name
        </td>
        <td>
            password
        </td>
        <td>
            
        </td>
    </tr>
    {% for i in userlist %}
    <tr>
        <td>
            {{ i.name }}
        </td>
        <td>
            {{i.pw}} 
        </td>
        <td>
            <a href="userdel?id={{i.id}}">删除</a>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}



</body>
</html>